.container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  border: none;
  outline: none;
  width: 50%;
  height: 50px;
  padding: 20px;
  border-radius: 30px;
  font-size: 30px;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.show-up {
  display: block;
  animation: fadeInUp 1s ease-in-out;
}

.show-flex {
  display: flex;
  animation: fadeInUp 1s ease-in-out;
}
