.container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  width: 100%;
  display: none;
  justify-content: center;
}

input {
  color: var(--white);
  border: none;
  border-bottom: 2px solid var(--gray);
  background: none;
  outline: none;
  width: 30%;
  height: 50px;
  padding: 20px;
  font-size: 1.6em;
  transition: 0.3s;
}

input:focus {
  border-bottom: 2px solid var(--white);
  transform: translateY(-20px) scale(1.02);
}

input:focus::placeholder {
  color: var(--white);
}

.btn {
  cursor: pointer;
}

.clicked {
  color: #7f8c8d;
}

.greetings {
  display: none;
}

.showing {
  display: block;
}

.show-up {
  display: block;
  animation: fadeInUp 1s ease-in-out;
}

.show-flex {
  display: flex;
  animation: fadeInUp 1s ease-in-out;
}

.dark {
  color: var(--white);
}

.white {
  color: var(--black);
}
