@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

.clock {
  font-family: "Zen Dots", cursive;
  color: var(--white);
  font-size: 8rem;
  transition: color 0.5s ease-in-out;
}
