@import "keyframes.css";
@import "clock.css";
@import "another.css";
@import "greetings.css";
@import "todo.css";
@import "bg.css";

:root {
  --white: #ecf0f1;
}

body {
  background-color: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}
