.toDoList {
  padding: 0;
  width: 60%;
  margin: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 300px;
  overflow-y: auto;
}

.toDoList li {
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  font-size: 2rem;
}
