.toDoList {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toDoList li {
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  font-size: 2rem;
}
