.upside {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  z-index: 1;
}

.weather {
  display: none;
  width: max-content;
}

.weather > button {
  background: no-repeat;
  border: none;
  cursor: pointer;
}
